body {
  background: white
}

.home {
  background-image: url("/images/home.png");
  min-height: 0px;
  min-width: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.leaflet-container {
  height: 400px;
  width: 50%;
  position: fixed;
  right: 0px;
  height: 100%;
}


/* @media (min-width: 768px)
.map {
    width: 55%;
    position: fixed;
    right: 0px;
    height: 95%;
    display: block !important;
} */

.circle {
 text-align:center;
 display: flex;
 padding: 1%;
}

.button {
  display:block;
  width:150px;
  height:150px;
  line-height:25px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
  background: #464646;
  box-shadow: 0 0 3px gray;
  font-size:20px;
  font-weight:bold;
  margin:10%;
}





.search {
  border: 10px solid #f5f5f5;
}

.horse {
  width:300px;
  height:20px;
  margin: 20px 10px;
 }

 .banana {
  background-image: url("/images/home.png");
  display:block;
  width:150px;
  height:150px;
  line-height:140px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
  box-shadow: 0 0 3px gray;
  font-size:20px;
  font-weight:bold;
  margin:10%;
  border-radius: 4px;
 }

 .name {
  margin: 5%;
 }


 .zoom {
  padding: 15px;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 160px;
  margin: 0 auto;
  zoom: 200%;
}